@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 400;
	background-color: white;
	color: #34455C;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 700;
	color: black;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h1, h2 {
	color: #E53935;
	font-weight: 700;
}

p {
	color: #555;
}

a {
	color: #E53935;
}

hr {
	border-bottom: 1px solid #ddd;
	border-top: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

.linkedinIcon {
	color: #0077b5;
}

.githubIcon {
	color: black;
}

.pageWrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.profileImg {
	width: 180px;
	height: 180px;
	margin-bottom: 0.5em;
	border-radius: 10px;
}

.profileSection {
	position: absolute;
	left: 0px;
	top: 3em;
	width: 200px;
	float: left;
	display: inline-block;
}

.pageContent {
	margin-top: 3em;
	clear: none;
	margin-left: 200px;
	flex: 1 0 auto;
	border-left: 1px solid #ddd;
	padding: 0 20px;
}

.profileSectionContent h1 {
	margin-bottom: 0.2em;
}

.sites {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sites li {
	font-size: 2em;
	list-style: none;
	display: inline-block;
	margin-right: 5px;
}

.sites li a {
	color: black;
	text-decoration: none;
}



@media(max-width: 700px) {

	.pageWrapper {
		width: auto;
		margin: 0px 5px;
	}
	.profileSection {
		display: block;
		position: static;
		float: none;
		width: auto;
		margin-top: 1em;
	}

	.profileImg {
		width: 90px;
		height: 90px;
		border-radius: 10px;
		float: left;
		margin-left: 20px;
	}

	.pageContent {
		margin-top: 1em;
		margin-left: 0;
		border-left: none;
		flex: none;
	}

	.profileSectionContent {
		margin-left: 120px;
	}


}
